<div class="top"></div>
<div class="bottom"></div>
<div class="body-wrapper">
  <div class="body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="name"
          >Name
          <span style="color: red" *ngIf="form.get('name').errors?.required"
            >*</span
          ></label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Your answer"
        />
      </div>
      <div class="form-group">
        <label for="email"
          >Email
          <span style="color: red" *ngIf="form.get('email').errors?.required"
            >*</span
          ></label
        >
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Your answer"
        />
        <small
          style="color: red !important"
          class="form-text text-muted"
          *ngIf="form.get('email').errors?.email"
          >Invalid email pattern</small
        >
      </div>
      <div class="form-group">
        <label for="address"
          >Postal Address
          <span style="color: red" *ngIf="form.get('address').errors?.required"
            >*</span
          ></label
        >
        <input
          type="text"
          class="form-control"
          id="address"
          formControlName="address"
          placeholder="Your answer"
        />
      </div>
      <div class="form-group">
        <label for="comments">Comments</label>
        <input
          type="text"
          class="form-control"
          id="comments"
          formControlName="comments"
          placeholder="Your answer"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
        (click)="submitForm()"
      >
        Submit
      </button>
    </form>
  </div>
</div>
